<h1>Login</h1>
<form action="/auth/local?next=/user/me" method="POST">
<input type="email" name="identifier" placeholder="Email">
<input type="password" name="password" placeholder="Password">
<input type="submit" value="Log in">
</form>